@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

header {
  background-color: #FFCD00; /* Amarillo representativo de la bandera de Colombia */
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.logo {
  margin-right: 20px;
}

.logo h1 {
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF; /* Texto blanco */
  font-family: 'Lobster', cursive; /* Fuente característica de Colombia */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #FFFFFF; /* Texto blanco */
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 4px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

nav a:hover {
  color: #FFFFFF; /* Texto blanco */
  background-color: #C8102E; /* Rojo al pasar el mouse */
}

nav i {
  margin-right: 5px;
  color: #FFFFFF; /* Texto blanco para íconos */
  font-size: 16px;
}

.auth {
  margin-left: 20px;
}

.auth a {
  background-color: #4CAF50; /* Verde para el botón */
  color: #FFFFFF; /* Texto blanco */
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.auth a:hover {
  background-color: #C8102E; /* Rojo al pasar el mouse */
}

.auth i {
  margin-right: 5px;
  color: #FFFFFF; /* Texto blanco para íconos */
  font-size: 16px;
}

.login {
  background-color: #4CAF50; /* Verde para el botón de iniciar sesión */
  color: #FFFFFF; /* Texto blanco */
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.login:hover {
  background-color: #45A049; /* Verde más oscuro al pasar el mouse */
}

.register {
  background-color: #2196F3; /* Azul claro para el botón de registrarse */
  color: #FFFFFF; /* Texto blanco */
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.register:hover {
  background-color: #1976D2; /* Azul más oscuro al pasar el mouse */
}
